
@import url(//db.onlinewebfonts.com/c/47b88958a4f9f4e8439a23651ddb22d5?family=SGK075);
@font-face {font-family: "SGK075"; src: url("//db.onlinewebfonts.com/t/47b88958a4f9f4e8439a23651ddb22d5.eot"); src: url("//db.onlinewebfonts.com/t/47b88958a4f9f4e8439a23651ddb22d5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/47b88958a4f9f4e8439a23651ddb22d5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/47b88958a4f9f4e8439a23651ddb22d5.woff") format("woff"), url("//db.onlinewebfonts.com/t/47b88958a4f9f4e8439a23651ddb22d5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/47b88958a4f9f4e8439a23651ddb22d5.svg#SGK075") format("svg"); }
#canvas{
    position: absolute;
}
.numbers{
    top: 0px;
    position: absolute;
    height:40px;
    width: 200px;
    /* background-color:gray; */
    z-index:1000;
    display:flex;
    justify-content: flex-start;
    font-size:40px;
    color:white;
    z-index:1000;
    font-family: 'SGK075', cursive;
}
#pSpeed{
    top: -11px;
    left:40px
}
#pScore{
    top: -11;
    left:200px;
}
#pTime{
    top: -12px;
    left: 800px;
}
#scanlines{
    position: absolute;
    left:8px;
    top:8px;
    color:white;
    z-index:5000;
    height:700px;
    width:1100px;
}
#carOverlay{
    position: absolute;
    left:350px;
    top:549px;
    z-index:10000;
    height:174px;
    width:409px;
}
#parent{
    position: absolute;
    left:8px;
    top:8px;
    z-index:10000;
    height:700px;
    width:1100px;
    background-color: transparent;
}