/* canvas{
} */
#speed{
    position: absolute;
    left:30px;
    top:30px;
    color:white;
    z-index:1000;
}
#scanlines{
    position: absolute;
    left:8px;
    top:8px;
    color:white;
    z-index:10000;
    height:700px;
    width:1100px;
}